@use '../util' as *;

html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: var(--font-body);
	background-repeat: no-repeat;
	@include breakpoint-down(xsmall) {
		background-image: linear-gradient(var(--softviolet), var(--softblue));
	}
	background-image: linear-gradient(to bottom right, var(--softviolet), var(--softblue));
	font-size: rem(13);
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
